<div class="jumbotron center">
 <div class="container">
     <h1>Actual footage of RJ & Billy Singing Pokemon</h1>
     	<p>
       	<%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
       	<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
       	<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" style="margin-top:10px;">
  Pokemon Saung
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
        <iframe width="260" height="115" src="https://www.youtube.com/embed/iqvmCgNrcpw?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
 		</p>
 </div>
</div>