 <div class="jumbotron center">
     <h1>Feedgia<br><small>Welcome to <b>your</b> show</small></h1>
     	<p>
       	<img src="http://38.media.tumblr.com/tumblr_mau5mnhkH01qcfwqjo1_400.gif" width="30" height="30">
       	<%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
       	<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
       	<img src="http://i.imgur.com/s5PDSLw.gif" width="100" height="100">
 		</p>
</div>
