<div class="jumbotron center">
 <div class="container">
     <h1><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQiqGADe5_d5EjjSNYAswE2ZXkZLz1YsxDMCL3S6iqCsw1_JxA-VQ" style="border-radius:100%;"></h1>
     	<p>
       	<%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
       	<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
       	<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" style="margin-top:10px;">
  Tech Is Bahd
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
        <iframe width="260" height="215" src="https://www.youtube.com/embed/G9FGgwCQ22w" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Ehh..bye</button>
      </div>
    </div>
  </div>
</div>
 		</p>
 </div>
</div>