<div class="jumbotron center">
 <div class="container">
     <h1><img src="http://theme.co/x/demo/icon/1/wp-content/uploads/sites/2/2013/07/3-loupe.png" style="border-radius:100%;" width="150"></h1>
     	<p>
       	<%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-md" %>
       	<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-md" %>
 		</p>
 </div>
</div>