<div class="jumbotron center">
 <div class="container">
     <h1>
     	<img src="http://www.bustler.net/images/uploads/animated_US_cities_SF.gif" class="img-responsive" style="border-radius: 35px;">
     </h1>
     <p>v.0.7</p>
     	<p>
       	<%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
       	<%= link_to "Sign up", new_user_registration_path, class: "btn btn-danger btn-lg" %>
 		</p>
 </div>
</div>