<div class="about">
<h1>Current Updates for Beta</h1>

<p>This project is currently in it's early stages. </p>

<h2>Things needed to be done: </h2>
  <ul>
    <li>Add Profile in ActiveRecord::Base</li>
    <li>Run 'acts_as_voter' as AJAX call. ( JQuery )</li>
    <li>
      Initial Styling:
        <ul>
          <li>Hue & Saturation</li>
          <li>Blender</li>
          <li>Add Vectors for images</li>
          <li>Single-size (img-responsiveness)</li>
        </ul>
    </li>
    <li>Google PageSpeed Insights: 
      <ul>
        <li>Eliminate render-blocking javascript and CSS in the above-fold content</li>
        <li>Enable compression</li>
        <li>Optimize Images</li>
        <li>Leverage Browser Caching</li>
        <li>Optimize HTML and minify JS</li>
      </ul>
    </li>
  </ul>
</div>