<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="http://s3.amazonaws.com/codecademy-content/courses/hour-of-code/js/alphabet.js"></script>
  </head>
  <body>
    <div class="container">
    	<h1>Our Personal Favorite Youtube Clips</h1>
    	<br>
    	<h2>For Smiles <i>RJ's List</i></h2>

    	<hr>

    	<iframe width="560" height="315" src="https://www.youtube.com/embed/IJNR2EpS0jw?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

    	<iframe width="560" height="315" src="https://www.youtube.com/embed/jSVRglLbhRI?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

    	<iframe width="560" height="315" src="https://www.youtube.com/embed/rHG-JO8gIGk?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

    	<iframe width="560" height="315" src="https://www.youtube.com/embed/7pSmhZFbCy0?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    	<br>
    	<br>
    	<h2>Favorite <i><b>Super Kars</b></i> <i>RJ's List</i></h2>
    	<hr>

    	<iframe width="560" height="315" src="https://www.youtube.com/embed/gqWYSL6t5eE?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

    	<iframe width="560" height="315" src="https://www.youtube.com/embed/TEnNaUg6Vm4?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

    	<iframe width="560" height="315" src="https://www.youtube.com/embed/gx5n1nnWyg8?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

    	<iframe width="560" height="315" src="https://www.youtube.com/embed/WkMN2kDONmw?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

  </body>
</html>